<div class="container">
  <div class="" style="margin-bottom: 20px">
  <%= link_to 'Back', lists_path, class: 'btn btn-gradient' %>
</div>
  <h1>Create New List</h1>
  <%= render 'form', list: @list %>
  </div>
