
.list-card .card-bookmark-infos{
    padding: 16px;

}
.list-card {
    background-size: cover;
    background-position: 50% 60%;
    margin: 16px;
    padding: 16px;
    border-radius: 2px;
    display: flex;
    justify-content: center;
    align-items: flex-end;
    width: 30rem;
    height: 10rem;
}
